@charset "UTF-8";

@font-face {
  font-family: "tech-icons";
  src:url("fonts/tech-icons.eot");
  src:url("fonts/tech-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/tech-icons.woff") format("woff"),
    url("fonts/tech-icons.ttf") format("truetype"),
    url("fonts/tech-icons.svg#tech-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tech-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tech-icon-"]:before,
[class*=" tech-icon-"]:before {
  font-family: "tech-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tech-icon-html5:before {
  content: "\61";
}
.tech-icon-css3:before {
  content: "\62";
}
.tech-icon-angularjs:before {
  content: "\63";
}
.tech-icon-angular2:before {
  content: "\64";
}
.tech-icon-javascript:before {
  content: "\65";
}
.tech-icon-node:before {
  content: "\66";
}
.tech-icon-sass:before {
  content: "\67";
}
.tech-icon-npm:before {
  content: "\68";
}
.tech-icon-less:before {
  content: "\6a";
}
.tech-icon-stylus:before {
  content: "\69";
}
.tech-icon-yarn-outline:before {
  content: "\6b";
}
.tech-icon-react:before {
  content: "\6c";
}
.tech-icon-vuejs:before {
  content: "\6d";
}
.tech-icon-bootstrap:before {
  content: "\6e";
}
.tech-icon-grunt:before {
  content: "\6f";
}
.tech-icon-gulp:before {
  content: "\70";
}
.tech-icon-spring:before {
  content: "\71";
}
.tech-icon-regex:before {
  content: "\72";
}
.tech-icon-r:before {
  content: "\73";
}
.tech-icon-express:before {
  content: "\74";
}
.tech-icon-compas:before {
  content: "\75";
}
.tech-icon-mongo:before {
  content: "\76";
}
.tech-icon-git:before {
  content: "\77";
}
.tech-icon-python:before {
  content: "\78";
}
.tech-icon-tag-search:before {
  content: "\79";
}
.tech-icon-tex:before {
  content: "\7a";
}
.tech-icon-database:before {
  content: "\41";
}
.tech-icon-elasticsearch:before {
  content: "\42";
}
.tech-icon-webpack:before {
  content: "\43";
}
.tech-icon-raspberry:before {
  content: "\44";
}
.tech-icon-random-access-memory-chip:before {
  content: "\45";
}
.tech-icon-clock:before {
  content: "\46";
}
.tech-icon-electron:before {
  content: "\47";
}
.tech-icon-ionic:before {
  content: "\48";
}
.tech-icon-android:before {
  content: "\49";
}
.tech-icon-brain-outline:before {
  content: "\4a";
}
.tech-icon-brain:before {
  content: "\4b";
}
.tech-icon-jira:before {
  content: "\4c";
}
.tech-icon-jenkins:before {
  content: "\4d";
}
.tech-icon-illustrator:before {
  content: "\4e";
}
.tech-icon-indesign:before {
  content: "\4f";
}
.tech-icon-globe:before {
  content: "\50";
}
.tech-icon-earth:before {
  content: "\51";
}
.tech-icon-server:before {
  content: "\52";
}
.tech-icon-server-alt:before {
  content: "\53";
}
.tech-icon-linux:before {
  content: "\54";
}
.tech-icon-map:before {
  content: "\55";
}
.tech-icon-map-alt:before {
  content: "\56";
}
.tech-icon-d3:before {
  content: "\57";
}
.tech-icon-qt-outline:before {
  content: "\58";
}
.tech-icon-typescript:before {
  content: "\59";
}
.tech-icon-tensorflow:before {
  content: "\5a";
}
.tech-icon-c:before {
  content: "\32";
}
.tech-icon-pug:before {
  content: "\33";
}
.tech-icon-material-design-lite:before {
  content: "\34";
}
.tech-icon-maths-function:before {
  content: "\30";
}
.tech-icon-artificial-intelligence:before {
  content: "\32";
}
.tech-icon-pug-1:before {
  content: "\33";
}
.tech-icon-yarn:before {
  content: "\31";
}
.tech-icon-c:before {
  content: "\35";
}
.tech-icon-qt:before {
  content: "\36";
}
.tech-icon-java:before {
  content: "\37";
}
.tech-icon-after-effect:before {
  content: "\38";
}
.tech-icon-photoshop:before {
  content: "\39";
}
.tech-icon-php:before {
  content: "\21";
}
.tech-icon-symfony:before {
  content: "\22";
}
.tech-icon-diploma:before {
  content: "\23";
}
.tech-icon-two-test-tubes:before {
  content: "\24";
}
