$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "mdi/scss/_core.scss";
@import "mdi/scss/_extras.scss";
@import "mdi/scss/_icons.scss";
@import "mdi/scss/_path.scss";
@import "mdi/scss/_variables.scss";
@import "mdi/scss/materialdesignicons.scss";
// endbower
@import "compass/css3/";

//VARIABLES
$darkest-primary-color: #1A237E;
$darker-primary-color: #283593;
$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$light-primary-color: #7986CB;
$lighter-primary-color: #9FA8DA;
$lightest-primary-color: #C5CAE9;
$white-primary-color: #E8EAF6;
$white: lighten($white-primary-color, 50%);

//HEADER + PROFILE PICTURE
$header-cover-url: '../images/bg.jpg';
$profile-picture-url: '../images/pic.jpg';
$header-height: 380px;
$picture-height: 200px;
$picture-offset: $header-height - $picture-height*0.5;
header {
  .overlay{
    background-color: $primary-color;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
  }
  background-image: url($header-cover-url);
  background-size: cover;
  height: $header-height;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}

.profile-picture{
  background-image: url($profile-picture-url);
  background-size: cover;
  position: absolute;
  top: $picture-offset;
  left: 50%;
  margin-left: -0.5*$picture-height;
  border-radius: 50%;
  height: $picture-height;
  width: $picture-height;
  border: 4px solid white;
}

//BIOGRAPHY
//Variables here:
//(alongside with commented suggestions)
$social-button-size: 48px;
$social-font-size: 21pt;
$foreground-color:$primary-color;//black;
$background-color:$white;//white
$shadow-color:$lighter-primary-color;//$foreground-color;
$distance:6px;
$cut-distance:3px;//$distance/4;
$strips-size:5px; //10px
$strips-ratio:50%;//70%
$strips-angle:45deg;//90deg;

//cray stuff yo. be sure to try (if you please)
$animate:false;//true
$fixed:false;//true

section.biography {
  text-align: center;
  margin-top: 80px;
  min-height: 100%;
}
.dashed-shadow{
  position:relative;
  top:$distance;
  left:$distance;
  display:inline-block;
  color:$shadow-color;
}
@keyframes dash-animation{
  0% {background-position:0 0};
  100% {background-position:100% 0};
}
.dashed-shadow:before{
  content:" ";
  display:block;
  position:absolute;
  $bleeding-horizontal:10px;
  $bleeding-vertical:0px;
  top:-$bleeding-vertical - $distance;
  left:-$bleeding-vertical - $distance;
  bottom:-$bleeding-horizontal + $distance;
  right:-$bleeding-horizontal + $distance;
  z-index:1;
  $color:$background-color;
  $size:$strips-ratio/2;
  $halfSize:$size/2;
  $p1:$halfSize;
  $p2:50%-$halfSize;
  $p3:50%+$halfSize;
  $p4:100%-$halfSize;
  $transparent:transparentize($color,1);
  @include background-image(linear-gradient($strips-angle,$color $p1, $transparent $p1, $transparent $p2,$color $p2, $color $p3, $transparent $p3, $transparent $p4, $color $p4));
  background-size:$strips-size $strips-size;
  @if($animate){
    animation:dash-animation 30s infinite linear;
  }
  @if($fixed){
    background-attachment:fixed;
  }
}
.dashed-shadow:hover:before{
  animation:dash-animation 30s infinite linear;
}
.dashed-shadow:after{
  z-index:2;
  content:attr(data-text);
  position:absolute;
  left:-$distance;
  top:-$distance;
  color:$foreground-color;
  text-shadow:$cut-distance $cut-distance $background-color;
}
h1.name{
  font-family:'Cookie',cursive;
  font-size:80pt;
}

h2.job {
margin-top: 0;
color: $light-primary-color;
}

h3.location {
color: $light-primary-color;
}

div.social {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: $social-button-size;
    width: $social-button-size;
    margin: 5px;
    border-radius: 50%;
    background-color: $primary-color;
    color: $white;
    font-size: $social-font-size;
  }
  div:hover {
    background-color: $dark-primary-color;
  }
}

//timeline
$timeline-width: 2px;
$circle-size: 25px;
$circle-year-size:60px;
$offset-top: 30px;

section.timeline {
  position: relative;
  background-color: $white-primary-color;
  text-align: center;
  h3 {
    color: $light-primary-color;
  }
  hr.vertical-line {
    position: absolute;
    top: $offset-top;
    bottom: 0;
    left: 50%;
    margin-left: -0.5*$timeline-width;
    width: $timeline-width;
    height: 100%;
    background: $primary-color;
  }
  ul {
    position: relative;
    padding: 0;
    color: $dark-primary-color;
    margin: $offset-top 15% 0 15%;
    list-style: none;
    li {
      width: 50%;
      position: relative;
      .circle{
        border: 2px solid $white-primary-color;
        position: absolute;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        top:0;
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        background-color: $primary-color;
      }
      &.year {
        width: $circle-year-size;
        margin-left: auto;
        margin-right: auto;
        height: $circle-year-size;
        .circle {
          right: 0;
          height: $circle-year-size;
          width: $circle-year-size;
        }
      }
      &.odd {
        margin-left:0;
        text-align:right;
        padding-right: 2*$circle-size;
        .circle{
          right: 0;
          margin-right: -0.5*$circle-size;
        }
      }
      &.even {
        .circle{
          left: 0;
          margin-left: -0.5*$circle-size;
        }
        padding-left: 2*$circle-size;
        text-align: left;
        margin-left:50%;
      }
    }
  }
}

body {
  background-color: $white;
}

nav {
  position: fixed;
  top:0;
  left:0;
  width: 15%;
  border: 1px solid black;
}
#timeline {
  position: absolute;
  left: 15%;
  right: 0;
  top: 0;
  border: 1px solid black;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
