$title-padding: 20px;
$title-size: 60pt;
$section-border-width: 1px;

html {
  overflow-x: hidden;
}
body {
  padding: 0;
  background-color: $white;
  color: darken($darkest-primary-color, 5);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: $primary-color;
  cursor: pointer;
}

section {
  min-height: calc(100vh);
  &:not(.biography) {
    border-top: $section-border-width dotted $lighter-primary-color;
    padding: 0 15% 30px 15%;
  }
  &.biography{
    padding-bottom: 30px;
  }
}

h1 {
  color: $primary-color;
  padding: $title-padding 0;
  font-family:'Cookie',cursive;
  font-size: $title-size;
  text-align: center;
}

h3 {
  color: $light-primary-color;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}
