section.projects {
  background-color: $white-primary-color;
  ul {
    padding: 0;
    margin-left: -5px;
    li {
      float: left;
      margin-left: 5px;
      margin-bottom: 5px;
      .circle-project {
        height: 25pt;
        cursor: pointer;
        width: 25pt;
	line-height: 100%;
	font-size: 13.5pt;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white-primary-color;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
      .circle-project:hover {
        background-color: $darker-primary-color;
      }
    }
  }
  p.details {
    clear: left;
  }
}
