$timeline-width: 2px;
$circle-size: 25px;
$circle-year-size:60px;
$circle-year-offset: 5px;
$offset-timeline: 90px;
$offset-events: 20px;
$margin-events: 15%;

section.timeline {
  position: relative;
  background-color: $white-primary-color;
  text-align: center;
  h3 {
    color: $light-primary-color;
  }
  hr.vertical-line {
    position: absolute;
    top: $offset-timeline;
    bottom: $offset-timeline;
    left: 50%;
    margin-left: -0.5*$timeline-width;
    width: $timeline-width;
    height: auto;
    background: $primary-color;
  }
  ul {
    position: relative;
    padding: 0 0 $offset-timeline 0;
    color: $dark-primary-color;
    margin: $offset-events $margin-events 0 $margin-events;
    list-style: none;
    li {
      width: 50%;
      position: relative;
      .circle{
        border: $timeline-width solid $white-primary-color;
        position: absolute;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        top:0;
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        background-color: $primary-color;
        &.newyear {
          top: $circle-year-size + $circle-year-offset + 0.25*$circle-size;
          padding:0;
        }
        &:not(.newyear){
          top: -5px;
        }
      }
      .circle-year {
        height: $circle-year-size;
        width: $circle-year-size;
      }
      &.even {
        margin-left:0;
        text-align:right;
        padding-right: 2*$circle-size;
        .circle{
          right: 0;
          margin-right: -0.5*$circle-size;
        }
        .circle-year {
          right: 0;
          margin-right: -0.5*$circle-year-size;
        }
      }
      &.odd {
        .circle{
          left: 0;
          margin-left: -0.5*$circle-size;
        }
        .circle-year{
          left: 0;
          margin-left: -0.5*$circle-year-size;
        }
        padding-left: 2*$circle-size;
        text-align: left;
        margin-left:50%;
      }
      .event{
        &.newyear {
          padding-top: $circle-year-size + $circle-year-offset;
        }
      }
    }
  }
}
