$darkest-primary-color: #1A237E;
$darker-primary-color: #283593;
$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$light-primary-color: #7986CB;
$lighter-primary-color: #9FA8DA;
$lightest-primary-color: #C5CAE9;
$white-primary-color: #E8EAF6;
$white: lighten($white-primary-color, 50%);
