div.profile-picture
section.biography
  h1.dashed-shadow.name(data-text="{{me.fullName}}") {{me.fullName}}
  h2.job {{me.job}}
  h3.location
    i.mdi.mdi-map-marker
    | {{me.location}}
  p.resume {{me.resume}}
  div.social
      div(ng-repeat="network in me.social" ng-switch="network.name")
        i.mdi.mdi-github-circle(ng-switch-when="github")
        i.mdi.mdi-linkedin(ng-switch-when="linkedin")
        i.mdi.mdi-twitter(ng-switch-when="twitter")
        i.mdi.mdi-google-plus(ng-switch-when="google-plus")
        i.mdi.mdi-email(ng-switch-when="email")
        i.mdi.mdi-cellphone(ng-switch-when="phone")
