header.cover
  div.overlay
  .btn-group
    button.btn.btn-default(type="button" bs-dropdown="dropdown" aria-haspopup="true" aria-expanded="false") 
      i.mdi.mdi-download
      | Download my résumé
    //ul.dropdown-menu.dropdown-menu-right(role="menu")
      li
        a.dropdown-item(href="#") English
      li 
        a.dropdown-item(href="#") French
      li 
        a.dropdown-item(href="#") Spanish        
