header.cover
  div.overlay
<<<<<<< HEAD
=======
  .btn-group.cv
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(type="button" bs-dropdown="me.cv" data-placement="bottom-right" aria-haspopup="true" aria-expanded="false")
      i.mdi.mdi-download
  .btn-group.lang
    button.mdl-button.mdl-js-button.mdl-button--icon(ng-click="changeLang('en')" ng-class="{active: me.lang === 'en'}")
      | En
    button.mdl-button.mdl-js-button.mdl-button--icon(ng-click="changeLang('fr')" ng-class="{active: me.lang === 'fr'}")
      | Fr
    button.mdl-button.mdl-js-button.mdl-button--icon(ng-click="changeLang('es')" ng-class="{active: me.lang === 'es'}")
      | Es
>>>>>>> Gruntfile
