section.projects
  h1 Projects
  h3 Student Office Campaign Website
  h3 Autonomous Remote-Controlled Car
  h3 Entrepreneurship Competition
  h3 San Francisco Crimes Classification
  i Machine Learning
  ul
    li R 
    li Python
    li Machine Learning
    li Matlab
    li Latex
  p For my school research project I chose a Data Science project. It is a competition proposed by the Data Science website kaggle. The purpose is to 
  h3 OpenPaaS - Entreprise Social Network
  i Web Development
  ul
    li Javascript 
    li HTML5
    li CSS3
    li MongoDB
    li ExpressJS
    li AngularJS
    li NodeJS
    li Git
    li Jira
    li Jenkins
    li Server Adminstration
    li Elasticsearch
    li Redis
  
