section.projects
  h1 Projects
  div(ng-repeat="project in me.projects")
    h3(id="{{project.anchor}}") {{project.title}}
    ul
      li(ng-repeat="skill in project.skills")
        div.circle-project(data-toggle="tooltip" data-placement="top" title="{{skill.name}}")
          i.mdi.mdi-star(ng-if="!skill.icon")
          i(ng-class="skill.icon" ng-if="skill.icon")
    p.details(ng-bind-html="project.details")


