section.skills
  h1 Skills 
  div(ng-repeat="category in me.skills")
    h3  {{category.title}}
    ul
      li(ng-repeat="skill in category.skills") 
        div.circle-skill
        h4 {{skill.name}}
        i {{skill.stars}}
