section.skills
  h1 Skills
  div.skills-legend
    h3 Legend
    div.skill-legend(ng-repeat="skill_legend in me.skills_legend")
      h4.label {{skill_legend.label}}
      div.stars
        div.unit.wow.fadeIn(ng-repeat="i in [0.2, 0.4, 0.6, 0.8]" ng-class="{active: $index + 1 <= skill_legend.stars}" data-wow-delay="{{i}}s")
      p.detail {{skill_legend.details}}
  div.collapse-control
    p Click on a skill to expand/collapse it.
      a(ng-click="expandAll()") {{ me.skills.allCollapsed ? 'Expand all' : 'Collapse all'}}
  div.skills-list
    div.dontsplit(ng-repeat="category in me.skills" on-last-repeat)
      h3  {{category.title}}
      ul
        li(ng-repeat="skill in category.skills" ng-click="toggleDetails($parent.$index, $index)" ng-class="{'show-more': skill.showMore}")
          div.circle-skill
            i(ng-if="skill.icon" class="{{skill.icon}}")
            i.mdi.mdi-star(ng-if="!skill.icon")
          h5 {{skill.name}}
          div.stars
            div.unit.wow.fadeIn(ng-repeat="i in [0.2, 0.4, 0.6, 0.8]" ng-class="{active: $index + 1 <= skill.stars}" data-wow-delay="{{i}}s")
          div.skill-details(ng-if="skill.showMore === true")
            p.details {{skill.details}}
            p.doc(ng-if="skill.documentation")
              i.tech-icon-book
              a(target="__blank" href="{{skill.documentation}}") Documentation
            p(ng-if="skill.related") Related skills:
            ul.skills-related(ng-if="skill.related")
              li(ng-repeat="relatedSkill in skill.related")
                div.circle-skill(bs-tooltip="relatedSkill.name")
                  i(ng-if="relatedSkill.icon" class="{{relatedSkill.icon}}")
                  i.mdi.mdi-star(ng-if="!relatedSkill.icon")

