section.timeline
  h1 Timeline
  hr.vertical-line
  ul
    li.wow(ng-repeat="event in me.events | orderBy:'(12*year)+month'" ng-class="{even: $even, odd:$odd, slideInLeft:$even, slideInRight: $odd}")
      div.circle.circle-year(ng-if="me.events[$index-1].year !== event.year || $first")
        | {{event.year}}
      div.circle(ng-switch="event.type" ng-class="{newyear: (me.events[$index-1].year !== event.year || $first)}")
        i.tech-diploma(ng-switch-when="diploma")
        i.mdi.mdi-bank(ng-switch-when="university")
        i.mdi.mdi-package-variant(ng-switch-when="project")
        i.mdi.mdi-briefcase(ng-switch-when="job")
      div.event(ng-class="{newyear: (me.events[$index-1].year !== event.year || $first)}")
        h4 {{event.title}}
        i(ng-if="event.period")
          | {{event.period}}
        p(ng-if="event.location")
          i.mdi.mdi-map-marker(ng-if="$even")
          | {{event.location}}
          i.mdi.mdi-map-marker(ng-if="$odd")
        p(ng-if="!event.location")
        p(ng-if="event.details")
          | {{event.details}}
        p(ng-if="event.more")
          a(ng-if="!event.showMore" ng-click="event.showMore=true") 
            i.mdi.mdi-plus-circle
            | More details
          a.more(ng-if="event.showMore" ng-click="event.showMore=false")
            i.mdi.mdi-minus-circle
            | Hide details
        p.more-details(ng-if="event.showMore" ng-bind-html="event.more")
            
